*.swp
.DS_Store
src/MacVim/MacVim.xcodeproj/*.mode1
src/MacVim/MacVim.xcodeproj/*.mode1v3
src/MacVim/MacVim.xcodeproj/*.pbxuser
src/MacVim/PSMTabBarControl/PSMTabBarControl.xcodeproj/*.mode1
src/MacVim/PSMTabBarControl/PSMTabBarControl.xcodeproj/*.pbxuser
src/MacVim/PSMTabBarControl/build
src/MacVim/build
src/TAGS
src/Vim
src/auto/config.cache
src/auto/config.h
src/auto/config.status
src/auto/if_perl.c
src/auto/link.log
src/auto/link.sed
src/auto/osdef.h
src/auto/pathdef.c
src/config.log
src/config.status
src/objects
src/po/*.ck
src/po/*.mo
src/po/sjiscorr
src/tags
src/testdir/mbyte.vim
src/testdir/small.vim
src/testdir/test*.out
src/testdir/test*.failed
src/testdir/test.log
src/testdir/tiny.vim
src/types.vim
src/vim
src/xxd/xxd
src/xxd/xxd.dSYM
